{% extends 'master.html'%}
{% load static %}
{% block content%}
<section id="about" class="about-section">
            <h1>About ℹ️</h1>

            <p>
                Welcome to GM Nuts — your trusted destination for fresh, healthy,
                and premium quality nuts.
            </p>

             <p>
                We provide carefully selected almonds, cashews, pistachios,
                walnuts.
            </p>

            <p>
                 At GM Nuts, customer satisfaction and product quality. We believe healthy snacks
                 and affordable price.
            </p>

            <p>
                 Thank you for choosing GM Nuts. Enjoy healthy living with every bite!
            </p>
        </section>
{% endblock %}
{% block js %}


{% endblock %}


