{% extends 'master.html' %}
{% load static %}

{% block content %}
<h1> Your Cart </h1>

{% for item in cart_items %}

<div class = "cart_container">
    <h2>{{item.product.name}}</h2>
    <h3>₹{{item.product.price}}</h3>
    <h4>Quantity:{{item.quantity}}</h4>

    {% if item.product.image%}
        <img src="{{item.product.image.url}}" width="200">
    {% else %}
        <img src="{% static 'images/default_image.jpg' %}" width="200">
    {% endif %} 
</div>

<hr>

{% empty %}
    <p>Your cart is empty.</p>
{% endfor %}

<h2>Total: ₹{{ total }}</h2>

{% endblock %}