{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GM NUTS{% endblock %}</title>

    {% block css %}
     <link rel = "stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
</head>
<body>
    {% include 'includes/header.html'%}

    {% block content %}  

    {% endblock %}


    {% block js %}
    <script src="{% static 'js/home.js' %}"></script>
    {% endblock %}
</body>
</html>